body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 150px;
}

.sliderBox {
    width: 500px;
    height: 35px;
    display:flex;
    justify-content: space-between;
}

.main {
    padding: 15px
}

.note {
padding: 5px;
}